.DS_Store
.DS_Store/*
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript
.*.swp
.idea/*
.idea
.idea/workspace.xml
.settings
.project
*.DS_Store
*-compiled.js
*-compiled.js.map
bower_components/*
script/data/*
script/data_opr/emchatTimestamp
dest

